<?xml version="1.0"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->
<configuration>
	<connectionStrings>
	<add name="bs" connectionString="Data Source=172.16.51.47/DESKTOP-0MFRJ4E;Initial Catalog=LIBRARY;Integrated Security=True;User ID=NT Service\SQLSERVERAGENT;Password=12345";
	 providerName="System.Data.SqlClient" />
	<add name="ms" connectionString="Data Source=172.16.51.47/DESKTOP-0MFRJ4E;Initial Catalog=LIBRARY;Integrated Security=True;User ID=NT Service\SQLSERVERAGENT;Password=12345";
	 providerName="System.Data.SqlClient" />
	<add name="LIBRARYConnectionString" connectionString="Data Source=172.16.51.47/DESKTOP-0MFRJ4E;Initial Catalog=LIBRARY;Integrated Security=True;User ID=NT Service\SQLSERVERAGENT;Password=12345";
	 providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
